.information__button {
    text-transform: uppercase;
    background-color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    min-width: 200px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 15px;
    margin-top: 52px;
}

.information__button:hover {
    color: #F7941E;
    background-color: #F1F1F2;
}